.big {
    font-size: 1cm ;
    color: #db8cff;
    margin-top: 2cm;
    text-align: center;
}
.im {
    font-size: 2cm;
    color: #db8cff;
}
.name {
    font-size: 2cm;
    color: #fff;
    margin-top: 0px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}
#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background: linear-gradient(to right , #41295a, #2F0743 );
}
.right {
    grid-column: span 3;
}
.left {
    margin: 1cm; 

}
#more {
    display:none
}
.red {
    color: #db8cff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}
body {
    margin-top: 1cm;
    background: linear-gradient(to right , #41295a, #2F0743 );
}
.white {
    color: #fff;
}
.card{
    background-color: #db8cff; 
}
.btn-brimary {
    background-color: #2F0743;
    color: #fff;
}
.btn-trimary {
    background-color: #db8cff; 
}
.redi {
    background-color: #c775ec;
}
.reda {
    background: linear-gradient(to right , #351f4c, #240434 );
}
/* Succes */